.dialog {
  position: absolute;
  top: 30%;
  left: calc(50% - 100px);
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #999;
  z-index: 10;
  background: #fff;

  button {
    margin: 0 20px;
  }
}